@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
body{
    margin: 0;
    padding: 0
}
#video-grid{
    
    justify-content: center
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover
}
.main__container{
    height: 100vh;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 700px) {
    video{
        height: 150px!important;
        width: 120px!important;
        object-fit: cover
    }
    .main__left{
        flex:0.7!important
    }
    .main__right{
        flex:0.3!important
    }
}
.main__left{
    display: flex;
    flex-direction: column;
    flex:0.8;
  
}
.main__right{   
    flex:0.2;
    background-color: yellow
}
.main__video{
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: black;
}

.main__controls{
    display:flex;
    background-color: yellow;
    color: red;
    padding: 5px
}
.main__controls__block{
    display: flex
}
.main__controls__button{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    min-width: 50px;
}
#inviteButton:focus{
    outline: none
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    display:flex;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:yellow;
    color: red;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color:yellow;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }